.card-skill {
  display: grid;
  grid-template-columns: 40px 200px;
  column-gap: 20px;
  &__img {
    position: relative;
    padding: 15px 0 0 15px;
    @include before_circle;
    &:before {
      top: 0;
    }
  }
  &__descr {
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
  }
}
