.contact-form {
  display: grid;
  grid-template-rows: 45px 190px 45px;
  // grid-template-columns: repeat(2, 280px);
  grid-template-columns: repeat(auto-fit, minmax(250px ,280px));
  column-gap: 25px;
  row-gap: 30px;
  label {
    display: block;
    position: absolute;
    height: 18px;
    padding: 0 8px;
    margin-bottom: 0;
    background-color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
    top: -7px;
    left: 12px;

  }

  @media (max-width: 984px) {
    display: flex;
    flex-direction: column;
  }

  &__triggers {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 35px;

    @media (max-width: 984px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    @media (max-width: 576px) {
      align-items: center;
    }
  }

  &__policy {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    /* identical to box height */
    color: #000000;

    @media (max-width: 576px) {
      max-width: 180px;
    }
  }

  &__policy-text {
    margin-bottom: 0;
  }

  &__input {
    position: relative;

    @media (max-width: 984px) {
      height: 45px;
    }

    input {
      height: 100%;
      padding: 0 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      /* identical to box height */
      color: #000000;

      @media (max-width: 984px) {
        width: 100%;
      }

    }

  }

  &__textarea {
    position: relative;
    grid-column: 1/3;

    @media (max-width: 984px) {
      height: 190px;
    }

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 20px 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      /* identical to box height */
      color: #000000;
    }
  }

  &__button {
    max-width: 219px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    /* identical to box height */
    color: #000000;
  }
}
